.color-card {
  margin: 0px 10px;
  padding: 5px;
}

.color-card-headline {
  display: inline;
  padding: 2px 6px;
  background: black;
  color: white;
}

.color-card-highlight {
  display: inline;
  padding: 2px 6px;
  background-color: black;
  color: white;
}

.color-form {
  padding: 10px;
  background-color: whitesmoke;
  box-shadow: grey 0px 2px 8px;
  margin-bottom: 10px;
  border: 1px solid grey;
  border-radius: 10px;
}

.header {
  text-align: center;
  padding: 10px;
  background-color: whitesmoke;
  box-shadow: grey 0px 2px 8px;
  margin-bottom: 10px;
  border: 1px solid grey;
  border-radius: 10px;
}
